body{
    background: linear-gradient(#0c6ae4, #032a57);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__img {
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.header h1, h2{
    padding: 1px;
    margin: 0;
}

.header p{
    padding: 1px;
    margin: 10px 0;
}

.button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 25px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 196px;
  }
}

.input{
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

.footer
{
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nombres
{
    margin: 10px 20px;
}

.resultado{
  width: 100%;
}

.resultadoPropiedades{
  width: 100%;
  height: 200px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.inputTamano{
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
  width: 20%;
}

.inputG{
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

.inputRelacion{
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}
